<body>

    <div class="jumbotron jumbotron-fluid justify-content-center" id="titleRow">
        <div class="container">
            <h1 class="display-4 mainHeader">Welcome to Film Fan</h1>
            <p class="lead">Create an Account</p>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <form id="loginForm">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Username</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter Username">
                            <small id="emailHelp" class="form-text text-muted">We totally wont sell your data, trust me.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label class="formLabel" for="exampleInputPassword1">Confirm Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Confirm Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </div>





<script src="./js/signup.js"></script>